In [1]:
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd
import datetime
from pathlib import Path
from scipy import interpolate
import pyproj

### Importing complete csv

In [6]:
# Enter the path to your data folder here
filename = Path(r'C:\Users\julik\sciebo\Master\Geophyphox\Excursion 2022\MQTT Data') 

# Reading the dataset
data = pd.read_csv(filename / 'mag_data_2022_proc.csv')
# data.drop_duplicates(subset="mag",inplace=True,ignore_index=True)
data.dropna(inplace=True)
data.describe()

,station,lat,lon,altitude,magx,magy,magz,mag_abs,mag_abs_std,time,unix_time,mag_count,student_id_list
count,746.000000,746.000000,746.000000,746.000000,746.000000,746.000000,746.000000,746.000000,746.000000,746.000000,7.460000e+02,746.000000,746.000000
mean,45.941019,51.317045,6.267811,149.636510,19.518261,-0.332123,-44.156465,48.479606,0.339080,5278.441764,1.657366e+09,67.491957,406354.777480
std,32.190611,2.870406,0.000717,18.051130,2.689535,3.080683,1.504361,1.075233,0.113034,3906.844565,3.417390e+03,12.846144,53524.231333
min,0.000000,50.844192,6.266227,104.886011,-4.889455,-13.289113,-48.945260,37.080869,0.153193,26.280000,1.657360e+09,0.000000,90895.000000
25%,18.000000,50.845191,6.267267,153.518674,18.493767,-2.061687,-44.926602,47.935013,0.299862,1889.204500,1.657363e+09,70.000000,403196.000000
50%,41.000000,50.845683,6.267827,157.087599,19.350206,-0.397543,-44.297298,48.401578,0.322148,4477.335000,1.657366e+09,70.000000,428345.000000
75%,71.000000,50.846047,6.268233,159.050052,20.153635,1.332791,-43.799383,49.025456,0.348117,8309.063250,1.657369e+09,70.000000,428426.000000
max,130.000000,77.000000,6.269898,167.199041,29.966837,17.029170,-30.307939,52.757173,1.883964,14527.633000,1.657372e+09,70.000000,439093.000000

### Split csv into multiple csv-files by student_id

In [7]:
students = data["student_id_list"].unique()
folder = Path(r"C:\Users\julik\sciebo\Master\Geophyphox\Excursion 2022\Student Data\Raw")
for student in students:
    df_student = data.where(data["student_id_list"]==student)
    df_student.dropna(inplace=True)
    df_student.reset_index(inplace=True,drop=True)
    # df_student["id"] = np.arange(0,len(df_student))
    # df_student.drop(columns=["id"],inplace=True)
    df_student.to_csv(os.path.join(folder, "mag_data_"+str(student)+".csv"))
    print("student_id:",student,"length:",len(df_student))

student_id: 403196 length: 108
student_id: 90895 length: 10
student_id: 428402 length: 45
student_id: 433263 length: 95
student_id: 404130 length: 10
student_id: 300724 length: 78
student_id: 428349 length: 45
student_id: 439093 length: 21
student_id: 419784 length: 96
student_id: 428426 length: 107
student_id: 428345 length: 131

In [4]:
# Enter the path to your data folder here
filename = Path(r'C:\Users\julik\sciebo\Master\Geophyphox\Excursion 2022\MQTT Data') 

# Reading the dataset
data = pd.read_csv(filename / 'log.csv')
data.drop_duplicates(subset="mag",inplace=True,ignore_index=True)
data.dropna(inplace=True)
students = data["student_id"].unique()
folder = Path(r"C:\Users\julik\sciebo\Master\Geophyphox\Excursion 2022\Student Data\Raw")
for student in students:
    df_student = data.where(data["student_id"]==student)
    df_student.dropna(inplace=True)
    df_student.reset_index(inplace=True,drop=True)
    # df_student["id"] = np.arange(0,len(df_student))
    df_student.drop(columns=["id"],inplace=True)
    # df_student.to_csv(os.path.join(folder, "mag_data_"+str(student)+".csv"))
    print("student_id:",student,"length:",len(df_student))

student_id: 300724 length: 68
student_id: 404130 length: 10
student_id: 403196 length: 108
student_id: 428426 length: 45
student_id: 428402 length: 45
student_id: 428349 length: 45
student_id: 4390933 length: 33
student_id: 428345 length: 131
student_id: 433263 length: 95
student_id: 419784 length: 96
student_id: 439093 length: 89
student_id: 42842602 length: 62
student_id: 90895 length: 10