In [2]:
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd
import datetime
from pathlib import Path
from scipy import interpolate
import pyproj

### Importing complete csv

In [3]:
# Enter the path to your data folder here
filename = Path(r'C:\Users\julik\sciebo\Master\Geophyphox\Excursion 2022\MQTT Data') 

# Reading the dataset
data = pd.read_csv(filename / 'log.csv')
data.drop_duplicates(subset="mag",inplace=True,ignore_index=True)
data.describe()

                id         lat         lon         mag    student_id
count   837.000000  837.000000  837.000000  837.000000  8.370000e+02
mean   1844.270012   50.845603    6.267781   48.587109  3.709165e+06
std    1354.891407    0.000539    0.000706    1.076302  1.110236e+07
min      93.000000   50.844218    6.266227   37.080869  9.089500e+04
25%     578.000000   50.845185    6.267241   47.991935  4.197840e+05
50%    1313.000000   50.845684    6.267803   48.496179  4.283450e+05
75%    2959.000000   50.846024    6.268198   49.252947  4.332630e+05
max    5012.000000   50.846736    6.269898   52.757173  4.284260e+07

### Split csv into multiple csv-files by student_id

In [6]:
students = data["student_id"].unique()
dfs = [x for _, x in data.groupby('student_id')]
folder = Path(r"C:\Users\julik\sciebo\Master\Geophyphox\Excursion 2022\Student Data\Raw")
for student in students:
    df_student = data.where(data["student_id"]==student)
    df_student.dropna(inplace=True)
    df_student.reset_index(inplace=True,drop=True)
    df_student["id"] = np.arange(0,len(df_student))
    df_student.drop(columns=["id"],inplace=True)
    # df_student.to_csv(os.path.join(folder, "mag_data_"+str(student)+".csv"))
    print("student_id:",student,"length:",len(df_student))

student_id: 300724 length: 68
student_id: 404130 length: 10
student_id: 403196 length: 108
student_id: 428426 length: 45
student_id: 428402 length: 45
student_id: 428349 length: 45
student_id: 4390933 length: 33
student_id: 428345 length: 131
student_id: 433263 length: 95
student_id: 419784 length: 96
student_id: 439093 length: 89
student_id: 42842602 length: 62
student_id: 90895 length: 10